@use "_variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.boxes-container {
  display: grid;
  grid-template-columns: var(--box-width) var(--box-width);
  grid-template-rows: repeat(5, 135px);
}

img {
  position: absolute;
}

.boxes-container > div {
  position: relative;
  width: var(--box-width);
  height: 135px;
}

.boxes-container > div > svg {
  max-width: 100%;
  fill: var(--primary-color);
}

.boxes-container > div {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.boxes-container > div:hover {
  opacity: 1;
}

.box1 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.box2 {
  grid-row: 3/4;
  grid-column: 2/3;

  & > svg {
    position: absolute;
    left: 70px;
    bottom: 30px;
    width: var(--bubble-size);
    z-index: 5;
  }
}

.box3 {
  grid-row: 4/5;
  grid-column: 1/2;

  & > svg {
    position: absolute;
    left: 60px;
    bottom: 50px;
    width: var(--bubble-size);
    z-index: 5;
  }
}

.box4 {
  grid-row: 5/6;
  grid-column: 2/3;

  & > svg {
    position: absolute;
    left: 45px;
    bottom: 65px;
    width: var(--bubble-size);
    z-index: 5;
  }
}

.bubble-text1 {
  position: absolute;
  left: 152px;
  top: 14px;
  font-size: 13px;
  font-family: "Oswald", sans-serif;
  color: var(--secondary-color);
}

.boxes-container > div:hover .bubble-text::before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 5px;
  width: 100%;
  height: 80%;
  animation: reveal 0.5s forwards;
  animation-timing-function: linear;
  animation-delay: 0.1s;
  right: 0;
}

.bubble-text2 {
  position: absolute;
  left: 132px;
  top: 6px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: var(--secondary-color);
  z-index: 6;
}

.bubble-text3 {
  position: absolute;
  left: 120px;
  bottom: 97px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: var(--secondary-color);
  z-index: 6;
}

.bubble-text4 {
  position: absolute;
  left: 106px;
  bottom: 109px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: var(--secondary-color);
  z-index: 6;
}

@keyframes reveal {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
